
#hero{
    background-image: url("../../../../assets/hero4.png");
    background-position: top 25% right 0;
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
#hero h4{
    padding: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    background-image: url("../../../../assets/button.png");
    padding: 14px 80px 14px 65px;
    border: 0;
    background-repeat: no-repeat;
    cursor: pointer;
} 