<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>

    <p>save more with coupans & up to 70% off!</p>

    <button class="btn" (click)="onShopClick()">Shope Now</button>
</section>

<app-shopping-facilities></app-shopping-facilities>
<app-featured-products [productType]="'FEATURED'"></app-featured-products>

<!-- call to function -->
<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% Off</span>- All t-Shirt & Accessories</h2>
    <button class="normal">Explore More</button>
</section>

<app-featured-products [productType]="'NEWPRODUCT'"></app-featured-products>


<!-- banner -->
<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Crazy Deals</h4>
        <h2>but 1 get 1 free</h2>
        <span>The best classic dress is on sale at test</span>
        <button>Learn More</button>
    </div>
    <div class="banner-box">
        <h4>Crazy Deals</h4>
        <h2>but 1 get 1 free</h2>
        <span>The best classic dress is on sale at test</span>
        <button>Learn More</button>
    </div>
</section>










