
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hwb(200 88% 10%);
    box-shadow: 0px 5px 20px rgba(12, 8, 8, 0.19);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
  
}
.logo{
    padding: 30px 40px;
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between 
}
#nav-bar li{
    list-style: none;
    padding: 0px 25px;
    position: relative;
}
#nav-bar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#nav-bar li a:hover,
#nav-bar li a.active{
    color: #088178;
}
#nav-bar li a.active::after,
#nav-bar li a:hover::after{
    content: "";
    width: 30%;
    height: 3px;
    color: #810808;
    position: absolute;
    background-color: #088178;
    bottom: -1px;
    left: 23px;
}