<section id="header">
    <!-- Logo Section -->
    <a href="home"><img src="/assets/logo.png" alt="" class="logo"></a>
    
    <!-- Search Bar Section -->
    <div id="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    
    <!-- User, Seller, Cart Icons Section -->
    <div id="nav-container">
        <ul id="nav-bar">
            <li>
                <a href="login" class="icon-link">
                    <i class="fa-solid fa-user"></i>
                    <span>&nbsp;Login</span>
                </a>
            </li>
            <li>
                <a href="seller" class="icon-link">
                    <i class="fa-solid fa-user"></i>
                    <span>&nbsp;Seller</span>
                </a>
            </li>
            <li>
                <a href="cart" class="icon-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>&nbsp;Cart</span>
                </a>
            </li>
            <li>
                <a href="option" class="icon-link">
                    <i class="fa-regular fa-grip-dots-vertical"></i>
                    <span>&nbsp;. . .</span>
                </a>
            </li>
        </ul>
    </div>
</section>
