.products-list {
    text-align: center;
}

.pro-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    /*gap: 20px; /* Optional: Adds space between items */
}









.container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  
  .filter-bar {
    width: 250px;
    padding: 20px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 20px;
    overflow-y: auto;
    height: 100%;
    position: sticky;
    top: 0;
  }
  
  .filter-bar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  .filter-bar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  .filter-bar h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .filter-bar h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
  }
  
  .filter-category, .filter-price, .filter-brand, .filter-discount, .filter-size, .filter-color {
    margin-bottom: 30px;
  }
  
  .filter-category ul, .filter-brand ul, .filter-discount ul, .filter-size ul, .filter-color ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .filter-category li, .filter-brand li, .filter-discount li, .filter-size li, .filter-color li {
    margin-bottom: 10px;
  }
  
  .filter-bar input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
  }
  
  .filter-bar input[type="range"] {
    width: 100%;
    margin-top: 10px;
  }
  
  .filter-bar label {
    color: #777;
    font-weight: 500;
  }
  
  .filter-bar ul li:hover label {
    color: #000;
    cursor: pointer;
  }
  
  .products-list {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
  }
  
  .products-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  .products-list::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  .pro-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  